formProv {display: none;}
.navbar + .container {margin-top: 70px;}

.post-block {
    margin-bottom: 50px;
}

.post-list {
    background: #eee;
    border: solid 1px #ccc;
    box-shadow: 0px 2px 5px #CCC;
    -moz-box-shadow: 0px 2px 5px #ccc;
    -webkit-box-shadow: 0px 2px 5px #CCC;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.post-list .btn-danger, .post-list .btn-primary {
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.post-list:hover .btn-danger, .post-list:hover .btn-primary  {
    top: 10px;
    opacity: 1;
}

.post-list:hover .btn-primary {
    right: 40px;
}