h1, h2, h3, h4, p, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    color: #000;
    font-weight: 500;
}

p { 
    color: #555; 
    font-weight: 300;
}

/*  --------
    NAVBAR
    -------- */ 
.navbar-inverse {
    background-color: #338efb;
    border-color: transparent;
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

formProv {display: none;}
.navbar + .container {margin-top: 70px;}

/*  ----------------
    ACCORDION PANELS
    ---------------- */
.panel-default {
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
    border-radius: 0 !important;
    margin-bottom: 15px !important;
}

/*  ----------------
    ITEM BOX
    ---------------- */
.post-list {
    background: #eee;
    border: solid 1px #ccc;
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14) !important;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.post-list .btn-danger, .post-list .btn-primary {
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.post-list:hover .btn-danger, .post-list:hover .btn-primary  {
    top: 10px;
    opacity: 1;
}

.post-list:hover .btn-primary {
    right: 40px;
}